# Welome to session 4

# Excercises

____
**What is the value of the `var` after the `for` loop completes its execution**

In [1]:
var = 10
for i in range(10):
    for j in range(2, 10, 1):
        if var % 2 == 0:
            continue
            var += 1
    var+=1

print(var)

20

___
**What is the output of this code**

In [5]:
for l in 'Jhon':
   if l == 'o':
    pass
    
   print(l)

J
h
o
n

___
**What is the output of this code**

In [6]:
x = 0
a = 5
b = 5
if a > 0:
    if b < 0: 
        x = x + 5 
    elif a > 5:
        x = x + 4
    else:
        x = x + 3
else:
    x = x + 2
print(x)

3

___
**Remove the `None` value from the list**

In [7]:
employees = [["Hussain", None, 23],
             [None, "Ku", 27],
             ["Ahmad", "Ad", None]]
for employee in employees:
    if None in employee:
        employee.remove(None)
print(employees)

[['Hussain', 23], ['Ku', 27], ['Ahmad', 'Ad']]

<details>
<summary>> The solution</summary>
```
for elmpoyee in elmpoyees:
    if None in elmpoyee:
        elmpoyee.remove(None)
```
</details>

___
**Count the occurrence of each element from a list and put each element with his count in a tuple inside `result_list`**
*hint:* use `list.count(element)` method

In [7]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 8,45, 89]
result_list = []

<details>
<summary>> The solution</summary>
```python
sample_list = [11, 45, 8, 11, 23, 45, 23, 8,45, 89]
result_list =[]
sample_set = set(sample_list)
for elem in sample_set:
    c = sample_list.count(elem)
    result_list.append((elem,c))
print(result_list)
```
</details>

___
**Write a program to display only those numbers from a list that satisfy the following conditions**

* The number must be divisible by five
* If the number is greater than 150, then skip it and move to the next number
* If the number is greater than 500, then stop the loop

In [8]:
numbers = [12, 75, 150, 180, 145, 525, 50]

<details>
<summary>> The solution</summary>
``` python
numbers = [12, 75, 150, 180, 145, 525, 50]
# iterate each item of a list
for item in numbers:
    if item > 500:
        break
    elif item > 150:
        continue
    # check if number is divisible by 5
    elif item % 5 == 0:
        print(item)
```
</details>

____
**Display Fibonacci series up to given number from user terms**
The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

In [11]:
num1 = 1
num2 = 1
number = int(input('enter a number'))
fib = 0
for i in range(2,number+1):
    fib = num1+num2
    num1 = num2
    num2 = fib
print(fib)

enter a number10
89

<details>
<summary>> The solution</summary>
    ```
# first two numbers
num1, num2 = 0, 1

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res
    ```
</details>

___
**Code Latin is a language game, where you move the first letter of the word to the end and add "ay." So "Python" becomes "ythonpay." To write a Code Latin translator in Python, here are the steps we'll need to take:**

* Ask the user to input a word in English.
* Make sure the user entered a valid word (word's length is more then 1).
* Convert the word from English to Code Latin.
* Display the translation result.

In [13]:
pyg = 'ay'
word = input('Enter a word:')

if len(original) > 0:
    first=word[0]
    new_word= word[1:len(word)] +first +pyg
    print(new_word)
else:
    print( 'empty')

Enter a word:python
ythonpay

<details>
<summary>> The solution</summary>
    ```
pyg = 'ay'
original = input('Enter a word:')

if len(original) > 0 and original.isalpha():
    word= original.lower()
    first=word[0]
    new_word= word[1:len(word)] +first +pyg
    print(new_word)
else:
    print( 'empty')
    ```
</details>