# Welcome to session 1 in python course by Hussain Khallouf

## Python Syntax

* End-of-Line Terminates a Statement

In [2]:
x = 10
print(x)

10

if you'd like a statement to continue to the next line, it is possible to use the "\" marker to indicate this:

In [4]:
x = 1 + 2 + 3 + 4 +\
    5 + 6 + 7 + 8

It is also possible to continue expressions on the next line within parentheses

In [5]:
x = (1 + 2 + 3 + 4 +
     5 + 6 + 7 + 8)

* Indentation: Whitespace Matters!<br>
Python differs from most other programming languages because it uses whitespace
and indentation to determine block structure

In [7]:
for i in range(3):
    if i < 2:
        print('less')
    else:
        print('more')

less
less
more

* Whitespace Within Lines Does Not Matter

In [8]:
x=1+2
x = 1 + 2
x             =        1    +                2

## print() function
You see that the `print` statement writes something on the screen.
Try this:
```python
print('one kilobyte is 2^10 bytes, or', 2 ** 10, 'bytes')
```

In [9]:
print('husssain')

husssain

##  Math in Python
Type<br>
```python
1 + 1
```
and execute the code.

In [10]:
print(1+1)

2

Now type
```python
20 + 80
```
and execute the code.

In [12]:
print(6667+6788)

13455

These are additions. We can of course use other mathematical operators.<br>
Try this subtraction:<br>
```python
6 - 5
```

In [13]:
5-8

-3

and this multiplication:<br>
```python
2 * 5
```

In [14]:
4*7

28

Try:
```python
5 ** 2
```
`**` is the exponential operator, so we executed 5 squared.

In [15]:
5**2

25

Now try this:

23 / 3

In [16]:
23/3

7.666666666666667

And this:<br>
```python
23 % 3
```

In [17]:
23%2

1

`%` returns the remainder of the division.

And this:<br>
```python
23 // 3
```

In [18]:
23//3

7

Floor Division `//` truncates the decimal without rounding, and returns an integer result.

## 1.3 Order of Operations

Remember that thing called order of operation that they taught in maths? Well, it applies in Python, too. Here it is, if you need reminding:<br>
1. Parenthesis `()`
2. Exponents `**`
3. Multiplication `*`, division `/` and remainder `%`
4. Addition `+` and subtraction `-`

Here are some examples that you might want to try, if you're rusty on this:<br>
```python
1 + 2 * 3
(1 + 2) * 3

```

In [19]:
1+1*2

3

In [20]:
6*5 - 6//4 + 11%3

31

## 1.4 Comments
The final thing you'll need to know to move on to multi-line programs is the comment. Type the following (and yes, the output is shown):
```python
# I am a comment. Fear my wrath!
```

In [21]:
# I am a comment. Fear my wrath!gghhtttttttteee

A comment is a piece of code that is not run. In Python, you make something a comment by putting a hash in front of it. A hash comments everything after it in the line, and nothing before it. So you could type this:
```python
print("food is very nice") #eat me
```

In [22]:
print("food is very nice") #eat me

food is very nice

This results in a normal output, without the smutty comment, thank you very much.

Now try this:
```python
# print("food is very nice")
```

In [24]:
# print("food is very nice")

Nothing happens, because the code was after a comment.

Comments are important for adding necessary information for another programmer to read, but not the computer. For example, an explanation of a section of code, saying what it does, or what is wrong with it. You can also comment bits of code by putting a `#` in front of it - if you don't want it to compile, but can't delete it because you might need it later.

# data types

| Data Type             |  Represents              | Examples            |
|-----------------------|--------------------------|---------------------|
| integer            | whole numbers            | -5, 0, 123          |
| floating point (real) | fractional numbers       | -87.5, 0.0, 3.14159 |
| string                | A sequence of characters | "Hello world!"      |
| Boolean               | logical true or false    | true, false         |
| nothing               | no data                  | null                |

## variables
A Python variable is a reserved memory location to store values. In other words, a
variable in a python program gives data to the computer for processing.
Every value in Python has a datatype. Different data types in Python are Numbers,
List, Tuple, Strings, Dictionary, etc. Variables can be declared by any name or even
alphabets like a, aa, abc, etc
Variable Naming Rules in Python
1. Variable name should start with letter(a-zA-Z) or underscore (_).
* Valid : age , _age , Age
* Invalid : 1age
2. In variable name, no special characters allowed other than underscore (_).
* Valid : age_ , _age
* Invalid : age_*
3. Variables are case sensitive.
* age and Age are different, since variable names are case sensitive.
4. Variable name can have numbers but not at the beginning.
* Example: Age1
5. Variable name should not be a Python keyword.Keywords are also called as reserved words.
* Example :pass, break, continue.. etc are reserved for special meaning in Python. So, we should not declare keyword as a variable name.
6. it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* Example :http_connected='connected'

## Assigning Variables
Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

Python code to create a variable called
`x` and assign the value `5` to that variable is:

In [1]:
x = 5

## Python is a dynamically typed language.

What is dynamic? We don't have to declare the type of variable while assigning a value to a variable in Python. Other languages like C, C++, Java, etc.., there is a strict declaration of variables before assigning values to them.

Python don't have any problem even if we don't declare the type of variable. It states the kind of variable in the runtime of the program. So, Python is a dynamically typed language.

In [11]:
x = 10
y = 5
x + y

15

## Reassigning Variables
Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [9]:
x

10

In [25]:
x = 30
x

30

In [26]:
x = x + 5
x

35

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [27]:
x += 10

In [28]:
x

45

In [29]:
x *= 2

In [30]:
x

90

In [31]:
x /= 3
x

30.0

## Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [15]:
type(x)

int

In [16]:
a = (1,2)

In [17]:
type(a)

tuple

However, in Python variables aren’t buckets. Instead, they’re `labels` or tags that refer
to objects in the Python interpreter’s namespace. Any number of labels (or variables)
can refer to the same object, and when that object changes, the value referred to by
all of those variables also changes.

In [6]:
a = [1, 2, 3]
b = a
c = b
b[1] = 5
print(a, b, c)

[1, 5, 3] [1, 5, 3] [1, 5, 3]

### Pros and Cons of Dynamic Typing
#### Pros of Dynamic Typing
* very easy to work with
* faster development time

#### Cons of Dynamic Typing
* may result in unexpected bugs!
* you need to be aware of `type()`

## Simple Exercise
This shows how variables make calculations more readable and easier to follow.

In [26]:
my_salary = 100
taxes_rate = 0.1
taxes_value = my_salary * taxes_rate

In [27]:
taxes_value

10.0

In [28]:
# Exercise 2
# input: any number of four decimal digit (abcd)
# output: each digit alone
# input: 1234
# ouput: 1 , 2 , 3 , 4


x = 2145

# Built-in data types in python

## Numbers

Python offers four kinds of numbers: integers, floats, complex numbers, and Booleans.
* An integer constant is written as an integer—0, –11, +33, 123456—and has unlimited range
* A float can be written with a decimal point or in scientific notation: 3.14, 2.718281828.
* Booleans are either True or False and behave identically to 1 and 0 except for their string representations.

In [10]:
x = 5
y = 5
print(x + y)

10

In [11]:
x = 10
y = 5.1
print(x + y)

15.1

In [16]:
x = 5
y = 15
print(x - y)

-10

`int()`, `float()` These are explicit conversions between types

In [14]:
x = 5.5 
y = int(x)
print(y)

5

In [17]:
x = 5
y = float(x)
print(y)

5.0

**note:** division of two integers results in a float.

In [20]:
x = 15
y = 5
print(x / y)

3.0

Python provides the following number-related functions as part of its core:
`float, int, abs, max, min, pow, round`

## Booleans

Python  comes with Booleans (with predefined `True` and `False` displays that are basically just the integers 1 and 0).

In [35]:
# Set object to be a boolean
a = True

In [36]:
a

True

## The None value

In addition to standard types such as strings and numbers, Python has a special basic
data type that defines a single special data object called None.

In [22]:
x = None
print(x)

None

## Strings

You’ve already seen that Python, like most other programming languages, indicates
strings through the use of double quotes. This line leaves the string `"Hello, World"`
in the variable `x`:

In [23]:
x = "Hello, World"

**Backslashes** can be used to *escape characters*, to give them special meanings. `\n`
means the newline character, `\t` means the tab character, `\\` means a single normal
backslash character, and `\"` is a plain double-quote character.

In [26]:
x = "A\tThis string starts with a \"tab\"."
print(x)

A	This string starts with a "tab".

In [30]:
x = "This string \ncontains a single backslash(\\)."
print(x)

This string
contains a single backslash(\).

You can use single quotes instead of double quotes. The following two lines do the
same thing:

In [31]:
x = "Hello, World"
x = 'Hello, World'

The only difference is that you don’t need to backslash " characters in single-quoted
strings or ' characters in double-quoted strings:

In [34]:
x = "Don't need a backslash"
print(x)

Don't need a backslash

**note:** You can’t split a normal string across lines.

In [35]:
x = "Starting and ending a string with triple " characters
permits embedded newlines, and the use of " and ' without
backslashes"

SyntaxError: invalid syntax (<ipython-input-35-3ecc38a460b8>, line 1)

But Python offers *triple-quoted* strings, which let you do this and include single and
double quotes without backslashes:

In [18]:
x = """Starting and ending a string with triple " characters
permits embedded newlines, and the use of " and ' without
backslashes"""

We can also use a function called len() to check the length of a string!

In [9]:
len('Hello World')

11

We can also use a function called len() to check the length of a string!

In [19]:
len('Hello World')

11

We can use the multiplication symbol to create repetition!

In [20]:
letter = 'z'

In [22]:
letter*10

'zzzzzzzzzz'

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

```python
object.method(parameters)
```

Where parameters are extra arguments we can pass into the method.

Here are some examples of built-in methods in strings:

In [24]:
s = 'Hello World concatenate me!'
s

'Hello World concatenate me!'

In [25]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [26]:
# Lower case
s.lower()

'hello world concatenate me!'

In [27]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [28]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

In [30]:
s.replace('H' , 'I')

'Iello World concatenate me!'

## Formatted String Literals (f-strings)

Introduced in Python 3.6, f-strings offer several benefits,where you can bring outside variables immediately into to the string.

In [32]:
name = 'Hussein'

print(f"He said his name is {name}.")

He said his name is Hussein.

### Exercise
create a string and print only the odd items in it<br>
input: ababab<br>
output: bbb

## Getting input from the user
You can use the `input()` function to get input from the user. Use the prompt
string you want to display to the user as `input’`s parameter

In [1]:
data = input()
print(data)

aa
aa

In [2]:
data = input('message')
print(data)

messageaa
aa

**Exercise:** Ask the user what is his name, the see hello

**Exercise:** Accept two numbers from the user and return their sum, multiplication and division.

**Exercise:** ask the user for the birthyear, then calculate user age in days.

# The End.