# Welcome to session 3

# Control Flow in python

## Comparison Operators 
These operators will allow us to compare variables and output a Boolean value (True or False). 

If you have any sort of background in Math, these operators should be very straight forward.

First we'll present a table of the comparison operators and then work through some examples:

<h2> Table of Comparison Operators </h2><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) </td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) </td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b)</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b)</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b)</td>
</tr>
</table>

Let's now work through quick examples of each of these.

#### Equal

In [56]:
2 == 2

True

In [57]:
1 == 0

False

Note that <code>==</code> is a <em>comparison</em> operator, while <code>=</code> is an <em>assignment</em> operator.

#### Not Equal

In [58]:
2 != 1

True

In [59]:
2 != 2

False

#### Greater Than

In [1]:
2 > 1

True

In [2]:
2 > 4

False

#### Less Than

In [62]:
2 < 4

True

In [63]:
2 < 1

False

#### Greater Than or Equal to

In [64]:
2 >= 2

True

In [65]:
2 >= 1

True

#### Less than or Equal to

In [66]:
2 <= 2

True

In [67]:
2 <= 4

True

## Chained Comparison Operators

An interesting feature of Python is the ability to *chain* multiple comparisons to perform a more complex test. You can use these chained comparisons as shorthand for larger Boolean Expressions.

we will also introduce two other important statements in Python: **and** and **or**.

In [68]:
1 < 2 < 3

True

The above statement checks if 1 was less than 2 **and** if 2 was less than 3.

In [69]:
1<2 and 2<3

True

The **and** is used to make sure two checks have to be true in order for the total check to be true. Let's see another example:

In [70]:
1 < 3 > 2

True

The above checks if 3 is larger than both of the other numbers, so you could use **and** to rewrite it as:

In [71]:
1<3 and 3>2

True

It's important to note that Python is checking both instances of the comparisons. We can also use **or** to write comparisons in Python. For example:

In [72]:
1==2 or 2<3

True

Note how it was true; this is because with the **or** operator, we only need one *or* the other to be true.

In [73]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [3]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [[3,2],5,4]

# True or False?
l_one[2][0] >= l_two[0][0]

True

In [4]:
1==1 or 100==1

True

## in operator

We've already seen the **in** keyword durng the for loop, but we can also use it to quickly check if an object is in a list

In [5]:
'x' in ['x','y','z']

True

In [6]:
'x' in [1,2,3]

False

## min and max

Quickly check the minimum or maximum of a list with these functions.

In [7]:
mylist = [10,20,30,40,100]

In [79]:
min(mylist)

10

In [80]:
max(mylist)

100

## Python vs Other Languages
### Indentation

Here is some pseudo-code to indicate the use of whitespace and indentation in Python:

**Other Languages**

    if (x){
        if(y){
            code-statement;
            }
    }
    else{
        another-code-statement;
    }
        
**Python**
    
    if x:
        if y:
            code-statement
    else:
        another-code-statement
        
Note how Python is so heavily driven by code indentation and whitespace. This means that code readability is a core part of the design of the Python language.
        
Let's create a simple statement that says:
"If a is greater than b, assign 2 to a and 4 to b"

Take a look at these two if statements (we will learn about building out if statements soon).

**Version 1 (Other Languages)**

    if (a>b){
        a = 2;
        b = 4;
    }
                        
**Version 2 (Python)**   

    if a>b:
        a = 2
        b = 4

## if, elif, else Statements

<code>if</code> Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

We can then expand the idea further with <code>elif</code> and <code>else</code> statements, which allow us to tell the computer:


Let's go ahead and look at the syntax format for <code>if</code> statements to get a better idea of this:

    if case1:
        perform action1
    elif case2:
        perform action2
    else: 
        perform action3

## First Example

Let's see a quick example of this:

In [81]:
x = False

if x:
    print('x was True!')
else:
    print('I will be printed in any case where x is not true')

I will be printed in any case where x is not true

### Multiple Branches

Let's get a fuller picture of how far <code>if</code>, <code>elif</code>, and <code>else</code> can take us!

We write this out in a nested structure. Take note of how the <code>if</code>, <code>elif</code>, and <code>else</code> line up in the code. This can help you see what <code>if</code> is related to what <code>elif</code> or <code>else</code> statements.

We'll reintroduce a comparison syntax for Python.

In [82]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

Welcome to the bank!

Note how the nested <code>if</code> statements are each checked until a True boolean causes the nested code below it to run. You should also note that you can put in as many <code>elif</code> statements as you want before you close off with an <code>else</code>.

## Indentation

It is important to keep a good understanding of how indentation works in Python to maintain the structure and order of your code.

**Exercise:** store a number between 0 and 9 then ask the user the guess the number by one trying

# for Loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff

The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code.

## Example 1
Iterating through a list

In [85]:
list1 = [1,2,3,4,5]

In [86]:
for x in list1:
    print(x)

1
2
3
4
5

Great! Hopefully this makes sense. Now let's add an <code>if</code> statement to check for even numbers.

## Example 2
Let's print only the even numbers from that list!

In [87]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4

We could have also put an <code>else</code> statement in there:

In [88]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number

## Example 3
Another common idea during a <code>for</code> loop is keeping some sort of running tally during multiple loops. For example, let's create a <code>for</code> loop that sums up the list:

In [89]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum += num

print(list_sum)

15

## Example 4
We've used <code>for</code> loops with lists, how about with strings? Remember strings are a sequence so when we iterate through them we will be accessing each item in that string.

In [91]:
for letter in 'A string.':
    print(letter)

A

s
t
r
i
n
g
.

## Example 5
Let's now look at how a <code>for</code> loop can be used with a tuple:

In [92]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

## Example 6
Tuples have a special quality when it comes to <code>for</code> loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself, this is an example of *tuple unpacking*. During the <code>for</code> loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple!

In [16]:
list2 = [(2,4),(6,8),(10,12)]

In [18]:
for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [19]:
# Now with unpacking!
for (t1,t2) in list2:
    print(t1)

2
6
10

Cool! With tuples in a sequence we can access the items inside of them through unpacking! The reason this is important is because many objects will deliver their iterables through tuples. Let's start exploring iterating through Dictionaries to explore this further!

### Exercise:
Write a program to accept two string from user and check if they are balanced. For example, strings s1 and s2 are balanced if all the characters in the s1 are present in s2. The character’s position doesn’t matter.

In [14]:
str1 = input('enter the first str')
str2 = input('enter the second str')

if str1 in str2:
    print('balanced')
else:
    print('unbalanced')

enter the first strna
enter the second strname
balanced

### Nested for loop
also, you can put loops inside each others

In [96]:
lst = [[1,2,3] , [4,5,6] , [7,8,9]]

for outer_item in lst:
    for inner_item in outer_item:
        print(inner_item)

1
2
3
4
5
6
7
8
9

### range() function

The range function allows you to quickly *generate* a list of integers, this comes in handy a lot, so take note of how to use it! There are 3 parameters you can pass, a start, a stop, and a step size. Let's see some examples:

In [97]:
range(10)

range(0, 10)

In [98]:
for i in range(5):
    print(i)

0
1
2
3
4

# while Loops

The <code>while</code> statement in Python is one of most general ways to perform iteration. A <code>while</code> statement will repeatedly execute a single statement or group of statements as long as the condition is true.

The general format of a while loop is:

    while test:
        code statements
    else:
        final code statements

Let’s look at a few simple <code>while</code> loops in action.

In [10]:
x = 0

while x <= 5:
    print('x is currently: ',x)
    print(' x is still less than 5, adding 1 to x')
    x+=2

x is currently:  0
 x is still less than 5, adding 1 to x
x is currently:  2
 x is still less than 5, adding 1 to x
x is currently:  4
 x is still less than 5, adding 1 to x

Notice how many times the print statements occurred and how the <code>while</code> loop kept going until the True condition was met, which occurred once x==10. It's important to note that once this occurred the code stopped. Let's see how we could add an <code>else</code> statement:

In [11]:
x = 0

while x < 5:
    print('x is currently: ',x)
    x+=1
else:
    print('All Done!')

x is currently:  0

# break, continue, pass

We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.
    
    
Thinking about <code>break</code> and <code>continue</code> statements, the general format of the <code>while</code> loop looks like this:

    while test: 
        code statement
        if test: 
            break
        if test: 
            continue 
    else:

<code>break</code> and <code>continue</code> statements can appear anywhere inside the loop’s body, but we will usually put them further nested in conjunction with an <code>if</code> statement to perform an action based on some condition.

Let's go ahead and look at some examples!

In [102]:
x = 0

while x < 5:
    print('x is currently: ',x)
    print(' x is still less than 5, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
    else:
        print('continuing...')

x is currently:  0
 x is still less than 5, adding 1 to x
continuing...
x is currently:  1
 x is still less than 5, adding 1 to x
continuing...
x is currently:  2
 x is still less than 5, adding 1 to x
x==3
x is currently:  3
 x is still less than 5, adding 1 to x
continuing...
x is currently:  4
 x is still less than 5, adding 1 to x
continuing...

Note how we have a printed statement when x==3, and a continue being printed out as we continue through the outer while loop. Let's put in a break once x ==3 and see if the result makes sense:

In [103]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

It is possible to create an infinitely running loop with <code>while</code> statements. For example:

In [13]:
# DO NOT RUN THIS CODE!!!! 
while True:
    print("I'm stuck in an infinite loop!")

### range

The range function allows you to quickly *generate* a list of integers, this comes in handy a lot, so take note of how to use it! There are 3 parameters you can pass, a start, a stop, and a step size. Let's see some examples:

In [106]:
range(10)

range(0, 10)

# Statements Assessment Test
Let's test your knowledge!

_____
**Use <code>for</code>, `.split()`, and <code>if</code> to create a Statement that will print out words that start with 's':**

In [1]:
st = 'select only the words that start with \'s\' in this sentence'

In [2]:
Code here

______
**Use range() to print all the even numbers from 0 to 10.**

In [3]:
# Code Here

_____
**Go through the string below and count the number of words that have even length**

In [1]:
st = 'Print every word in this sentence that has an even number of letters'

In [2]:
#Code in this cell
word_count=0
st_list = st.split()
for word in st_list:
    if len(word)%2 == 0:
        word_count+=1
print(word_count)

9


**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [6]:
#Code in this cell

for i in range(1,16):
    if i%3 ==0 and i%5==0:
        print('FizzBuzz',i)
    elif i%3==0:
        print('Fizz',i)
    elif i%5==0:
        print('Buzz',i)

Fizz 3
Buzz 5
Fizz 6
Fizz 9
Buzz 10
Fizz 12
FizzBuzz 15