# Welcome to session 5

# Methods and Functions

# Methods

We've already seen a few example of methods when learning about Object and Data Structure Types in Python. Methods are essentially functions built into objects.

Methods perform specific actions on an object and can also take arguments, just like a function.

Methods are in the form:

    object.method(arg1,arg2,etc...)
    

Let's take a quick look at what an example of the various methods a list has:

In [1]:
# Create a simple list
lst = [1,2,3,4,5]

Fortunately, with iPython and the Jupyter Notebook we can quickly see all the possible methods using the tab key. The methods for a list are:

* append
* count
* extend
* insert
* pop
* remove
* reverse
* sort

Let's try out a few of them:

append() allows us to add elements to the end of a list:

In [2]:
lst.append(6)

In [3]:
lst

[1, 2, 3, 4, 5, 6]

Great! Now how about count()? The count() method will count the number of occurrences of an element in a list.

In [4]:
# Check how many times 2 shows up in the list
lst.count(2)

1

You can always use Shift+Tab in the Jupyter Notebook to get more help about the method. In general Python you can use the help() function:

In [5]:
help(lst.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [6]:
lst.insert(3,50)
lst

[1, 2, 3, 50, 4, 5, 6]

# Functions

## Introduction to Functions

This lecture will consist of explaining what a function is in Python and how to create one. Functions will be one of our main building blocks when we construct larger and larger amounts of code to solve problems.

**So what is a function?**

Formally, a function is a useful device that groups together a set of statements so they can be run more than once. They can also let us specify parameters that can serve as inputs to the functions.

On a more fundamental level, functions allow us to not have to repeatedly write the same code again and again. If you remember back to the lessons on strings and lists, remember that we used a function len() to get the length of a string. Since checking the length of a sequence is a common task you would want to write a function that can do this repeatedly at command.

## def Statements

Let's see how to build out a function's syntax in Python. It has the following form:

In [7]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (docstring) goes
    '''
    # Do stuff here
    # Return desired result

We begin with <code>def</code> then a space followed by the name of the function. Try to keep names relevant, for example len() is a good name for a length() function. Also be careful with names, you wouldn't want to call a function the same name as a [built-in function in Python](https://docs.python.org/2/library/functions.html) (such as len).

Next come a pair of parentheses with a number of arguments separated by a comma. These arguments are the inputs for your function. You'll be able to use these inputs in your function and reference them. After this you put a colon.

Now here is the important step, you must indent to begin the code inside your function correctly. Python makes use of *whitespace* to organize code. Lots of other programing languages do not do this, so keep that in mind.

Next you'll see the docstring, this is where you write a basic description of the function. Using Notebooks, you'll be able to read these docstrings by pressing Shift+Tab after a function name. Docstrings are not necessary for simple functions, but it's good practice to put them in so you or other people can easily understand the code you write.

### Example 1: A simple print 'hello' function

In [2]:
def say_hello():
    print('hello')

Call the function:

In [3]:
say_hello()

hello

### Example 2: A simple greeting function
Let's write a function that greets people with their name.

In [10]:
def greeting(name):
    print(f'Hello {name}')

In [11]:
greeting(1234)

Hello 1234

## Using return
Let's see some example that use a <code>return</code> statement. <code>return</code> allows a function to *return* a result that can then be stored as a variable, or used in whatever manner a user wants.

### Example 3: Addition function

In [12]:
def add_num(num1,num2):
    return num1+num2

In [13]:
add_num(4,5)

9

In [14]:
# Can also save as variable due to return
result = add_num(4,5)

In [15]:
print(result)

9

What happens if we input two strings?

In [16]:
add_num('one','1')

'one1'

Note that because we don't declare variable types in Python, this function could be used to add numbers or sequences together!

Finally let's go over a full example of creating a function to check if a number is prime.

We know a number is prime if that number is only evenly divisible by 1 and itself. Let's write our first version of the function to check all the numbers from 1 to N and perform modulo checks.

In [7]:
def is_prime(num):
    '''
    Naive method of checking for primes. 
    '''
    for n in range(2,num):
        if num % n == 0:
            print(num,'is not prime')
            break
    else: # If never mod zero, then prime
        print(num,'is prime!')
        
## important note:
## The else block just after for/while is executed only when the loop is NOT terminated by a break statement.

In [8]:
is_prime(16)
is_prime(15)
is_prime(2)
is_prime(6)
is_prime(6)
is_prime(14)

16 is not prime
15 is not prime
2 is prime!
6 is not prime
6 is not prime
14 is not prime

In [19]:
is_prime(17)

17 is prime!

Note how the <code>else</code> lines up under <code>for</code> and not <code>if</code>. This is because we want the <code>for</code> loop to exhaust all possibilities in the range before printing our number is prime.

Also note how we break the code after the first print statement. As soon as we determine that a number is not prime we break out of the <code>for</code> loop.

 A function can deliver multiple print statements, but it will only obey one <code>return</code>.

In [ ]:
def python_check(string):
    """
    check if the string contains python in it
    """
    
    if 'python' in string.lower():
        return True
    else:
        return False
    
python_check('aaaapythonaaaa')

**Write a Function gives Fibonacci value for given number**<br>
terms The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

In [9]:
def fib(num):
    num1=0
    num2=1
    val = 0
    for i in range(2,num):
        val = num1+num2
        num1=num2
        num2 = val
    
    return val

In [11]:
fib(10)

34

In [12]:
print(fib(50))

7778742049

# Function Practice Exercises

## WARMUP SECTION:

**LESSER OF TWO EVENS**: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    <br>lesser_of_two_evens(2,4) --> 2
    <br>lesser_of_two_evens(2,5) --> 5

In [16]:
def lesser_of_two_evens(a,b):
    x = None
    if a%2==0 and b%2==0:
        x = min(a,b)
    else:
        x = max(a,b)
    return x

In [18]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [7]:
def makes_twenty(n1,n2):
    return

In [8]:
# Check
makes_twenty(20,10)

True

In [1]:
# Check
makes_twenty(12,8)

NameError: name 'makes_twenty' is not defined

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [5]:
def old_macdonald(name):
    if len(name) < 4:
        return name
    name_list = list(name)
    name_list[0] = name_list[0].upper()
    name_list[3] = name_list[3].upper()
    name = ''.join(name_list)

    return name

In [6]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [9]:
def master_yoda(text):
    if type(text) != str:
        return 'This object cann\'t be reversed'
    txt_list = text.split()
    txt_list.reverse()
    text = " ".join(txt_list)
    return text

In [10]:
# Check
master_yoda('I am home')

'home am I'

In [11]:
# Check
master_yoda('We are ready')

'ready are We'

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [7]:
# def has_33(nums):
#     if type(nums) != list:
#         return "Error"
#     for i in range(len(nums )-1):
#         if nums[i] == nums[i + 1] == 3:
#             return True
#     else:
#         return False
    
    
    
    
    
    
def has_33(nums):
    if type(nums) != list:
        return "Error"
    last_item = 0
    for num in nums:
        if num == last_item == 3:
            return True
        last_item = num
    else:
        return False

In [8]:
# Check
has_33([1, 3, 3])

True

In [9]:
# Check
has_33([1, 3, 1, 3])

False

In [10]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [11]:
def paper_doll(text):
    if type(text)!=str:
        return 'Error'
    txt_list = list(text)
    for i in range(len(txt_list)):
        txt_list[i] = txt_list[i]*3
    text ="".join(txt_list)
    return text

In [12]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [13]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [34]:
def spy_game(nums):

In [35]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [36]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [37]:
# Check
spy_game([1,7,2,0,4,5,0])

False

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

In [7]:
def up_low(s):
    

    print("Original String : ", s)
    print("No. of Upper case characters : ", up)
    print("No. of Lower case Characters : ", lower)

In [10]:
def up_low_simple(s):
    
    #we can retun more than one value
    return upper,lower

In [11]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

In [12]:
up , low = up_low_simple(s)
print('No. of Upper case letters: {}\nNo. of Lower case letters: {}'.format(up,low))

No. of Upper case letters: 4
No. of Lower case letters: 33